<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DaClock.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <DaClock.Properties.Settings>
            <setting name="Border" serializeAs="String">
                <value>Gold</value>
            </setting>
            <setting name="Tip" serializeAs="String">
                <value>Gold</value>
            </setting>
            <setting name="C1" serializeAs="String">
                <value>Indigo</value>
            </setting>
            <setting name="C2" serializeAs="String">
                <value>Purple</value>
            </setting>
            <setting name="C3" serializeAs="String">
                <value>DarkMagenta</value>
            </setting>
            <setting name="C4" serializeAs="String">
                <value>Indigo</value>
            </setting>
            <setting name="C5" serializeAs="String">
                <value>Purple</value>
            </setting>
            <setting name="C6" serializeAs="String">
                <value>Gold</value>
            </setting>
            <setting name="borderSize" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="activeColors" serializeAs="String">
                <value>8</value>
            </setting>
        </DaClock.Properties.Settings>
    </userSettings>
</configuration>